/*-------------------------------navigation --------------*/



ol li {
   
}

   /*making a horizontal list with spacing /no bullet points */
   ul li  {
 display: inline;
  float: right;
   list-style: none;
     
     
}


 /* specifications for navigation  = colour black background*/ 
#nav{
  font-family: Verdana,Arial;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border-radius: 0px;
    color: #fff;
    border-radius: 0px;

} 


#nav a:hover {
/*  background: #000;*/
    color: #1aa6c9;
    
}

/*------ adding a colour background to current page on navigation bar-----*/
li> a.active{
/* background-color:  #99004d;*/
  display: inline;
  float: left;
  margin-right: 1px;

}


#nav > li > a { 
    
text-decoration: none;
font-size: 20px;
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
    
}

nav a:hover {
    color: #1aa6c9;
    
}

/*-------- specifications for style when user hovers over a link on the nav bar ----------*/
li a:hover{
   
/*    background-color: #ff3300;*/
    color: black;
    }

/* -------------dropdown links on nav ----------*/

li.dropdown {
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.7);
    border-style: solid black;
    border-radius: 0px;
  
    min-width: 190px;
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/*-------- specifications for style when user hovers over a link on the drop down menu ----------*/

.dropdown-content a:hover {
/*    background-color:  #ff3300*/
    
    color: aqua;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content .active{
 background-color: white;
   

}

/* ------   hiding nav -----------*/
.show-nav {
    color: white;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-top: 5px;
    display: none;
/*    border-radius: 10px 10px 9px 9px;*/
    
}

/*Hiding check box, also allows checkboxes on contact form to show as it is specific only to the navigation checkbox*/
 nav>input[type=checkbox]{
    display: none;
}

/* menu is shown when  checkbox is checked*/
  nav>input[type=checkbox]:checked ~ #nav{
    display: block;
}
/*Responsive */

@media screen and (max-width : 800px){
  ul {
    position: static;
    display: none;
  }
  
  li {
    margin-bottom: 1px;
      
  }
  /* navigation links to full width*/
  li  {
    width: 100%;
      color: white;
  }
  
  /*Display 'show nav' link*/
  .show-nav {
    display:block;
      float: left
  }
  /* hiding the logo when the navigation is collapsed*/
  .logo{
   display: none;
  }
}


/*spec for user/admin account display table data*/

table{
   width: 100%;
background-color: white;
font-size: 20px;
border: 1px solid black;

}


td{
  color: black;
    border-left: 1px solid black;
     border-right: 1px solid black;
    border-top: 1px solid black;
  }
/*spec for admin account display table edit and delete function colours*/

.delete{
  color: red;
}
.edit{
  color: orange;
}
/*spec for admin account - display table data*/
.tbl{
  font-weight: bold;
}


/*-------------------------------END OF MELBA CSS --------------*/




.title {
  font-weight: 500;
  margin: 0 0 30px;
}
.bucket {
   
    background:#fff;
    float: left;
    width: auto;
    margin: 26px ;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.4);

}

.buffer {
   padding: 10px;
    
    
}

header {
   
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
  background: #000;
  transition: 0.7s all;
  z-index: 100;
    color: white;
}
.clearfix { 
  clear: both; 
  font-size: 1px; 
  height: 0px; 
}

form{
  width: auto;
}
input {
  float: none;
  width: 94%;
  margin-bottom: 20px;
  border: 1px solid #DBE5E7;
  border-radius: 2px;
  padding: 12px 10px;
  font-size:  14px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
input.btn {
  background: #00B37C;
  color: #fff;
  
  padding: 10px;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #00A779 #009766 #00814E;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2), 0 -1px 2px rgba(0, 0, 0, 0.2) inset;
}


.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}




.button {
    margin: 2em 0 0;
    align-content: center;
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
     
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 28s slidy infinite; 
    color: #000;
}

.logo {
  float: left;
  color: #fff;
  font-size: 50px;
  line-height: 50px;
  transition: 0.7s all;
    padding-top: 50px;
}



ul,  h3, h4, h5, h6, a, .logo {
  font-family: "Lato","Verdana",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin: 0;
  padding: 0;
}


.inner {
  width: 1400px;
  position: relative;
  margin: 0 auto;
    
}


.pic {
    float:left;
    position: relative;
    width: 260px;
    overflow: hidden;
    margin-left: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: solid 2px black;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.5)
}

.text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 260px;  
  height: 0;
  text-align: center;    
  background: rgba( 26,166, 201, 0.7);
  transition: height 0.7s ease-out;    
}

.pic:hover > .text {
  height: 120px;
    
}


p.item_name {
   color: white;
    font-weight: bold;
}

p.item_dec {
   color: white;
    
}


@import url(https://fonts.googleapis.com/css?family=Archivo+Black);

@media only screen and (max-device-width: 480px) {
  .box {
    margin: 20px;
  }
  .product-info {
    margin: 20px;
  }
}


.container {
  display: flex;
  justify-content: center;
  
  font-family: 'Open Sans', sans-serif;
}


.box {
  width: 700px;
  border-radius: 10px;
  
}

.product-img {
  float: left;
  margin-top: 20px;
  transition: all 0.5s linear;
    &:hover }
      
.product-img:hover {      
    transform: scale(1.03); 
}


.product-info {
  float: right;
  margin-top: 20px;
  margin-right: 40px;
}



