/*-------------------------------navigation --------------*/


   /*making a horizontal list with spacing /no bullet points */
 li  {
 display: inline;
  float: right;
   list-style: none;
     
}


 /* specifications for navigation  = colour black background*/ 
#nav{
  font-family: "Lato","Verdana",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    border-radius: 0px;
    color: #fff;
    border-radius: 0px;

} 


#nav a:hover {
/*  background: #000;*/
    color: #1aa6c9;
    
}

/*------ adding a colour background to current page on navigation bar-----*/
li> a.active{
/* background-color:  #99004d;*/
  

}


#nav > li > a { 
    
text-decoration: none;
font-size: 20px;
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
    
}

nav a:hover {
  color: black;
    
}

/*-------- specifications for style when user hovers over a link on the nav bar ----------*/
li a:hover{
   
/*    background-color: #ff3300;*/
    color: black;
    }

/* -------------dropdown links on nav ----------*/

li.dropdown {
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background: rgba(0,0,0,0.7);
    border-style: solid black;
    border-radius: 0px;
  
    min-width: 190px;
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/*-------- specifications for style when user hovers over a link on the drop down menu ----------*/

.dropdown-content a:hover {
/*    background-color:  #ff3300*/
    
    color: aqua;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-content .active{
 background-color: white;
   

}

/* ------   hiding nav -----------*/
.show-nav {
    color: white;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-top: 5px;
    display: none;
/*    border-radius: 10px 10px 9px 9px;*/
    
}

/*Hiding check box, also allows checkboxes on contact form to show as it is specific only to the navigation checkbox*/
 nav>input[type=checkbox]{
    display: none;
}

/* menu is shown when  checkbox is checked*/
  nav>input[type=checkbox]:checked ~ #nav{
    display: block;
}
/*Responsive */

@media screen and (max-width : 800px){
  ul {
    position: static;
    display: none;
  }
  
  li {
    margin-bottom: 1px;
    list-style: none;

  }
  /* navigation links to full width*/
  li  {
    width: 100%;
      color: white;
  }
  
  /*Display 'show nav' link*/
  .show-nav {
     display:block;
      margin-left: 200px;
      float: inherit;
      padding: 26px;
  }
  /* hiding the logo when the navigation is collapsed*/
  .logo{
            
       text-decoration: none;

  }
}




/*-------------------------------END OF MELBA CSS --------------*/





h1.title {
  font-weight: 500;
  margin: 0 0 30px;
    color: #1aa6c9;
}
.bucket {
   
    background:#fff;
    float: left;
    width: auto;
    margin: 26px ;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.4);

}

.buffer {
   padding: 10px;
    
    
}

header {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    background: #000;
    transition: 0.7s all;
    z-index: 100;
    color: white;
}

.clearfix { 
  clear: both; 
  font-size: 1px; 
  height: 0px; 
}

form{
  width: auto;
}
input {
  float: none;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #DBE5E7;
  border-radius: 2px;
  padding: 12px 10px;
  font-size:  14px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
 
}
input.btn {
  background: #00B37C;
  color: #fff;
  
  padding: 10px;
  width: 100%;
  margin: 0px;
  margin-top: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #00A779 #009766 #00814E;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2), 0 -1px 2px rgba(0, 0, 0, 0.2) inset;
}


.form-footer {
  font-size: 1em;
  padding: 2em 0;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}




.button {
    margin: 2em 0 0;
    align-content: center;
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button2:hover {
     
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}



@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}


div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 28s slidy infinite; 
    color: #000;
}

.logo {
    float: left;
    color: #fff;
    font-size: 50px;
    line-height: 50px;
    transition: 0.7s all;
    text-decoration: none;
    padding: 20px;
}



ul, li, h2, h3, h4, h5, h6, p, a, .logo {
  font-family: "Lato","Verdana",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  margin: 0;
  padding: 0;
}


.inner {
  width: 1400px;
  position: relative;
  margin: 0 auto;
    
}


.pic {
    float:left;
    position: relative;
    width: 480px;
    overflow: hidden;
    margin-top: 10px;
    margin-left: 12px;
    margin-right:12px;
    
    margin-bottom: 20px;
    border: solid 2px black;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.5)
}

.text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 480px;  
  height: 0;
  text-align: center;    
  background: rgba( 26,166, 201, 0.7);
  transition: height 0.7s ease-out;    
}

.pic:hover > .text {
  height: 120px;
    
}


p.item_name {
    color: white;
    font-weight: bold;  
    padding: 10px;
    font-size: 150%;
    
}

p.item_dec {
   color: white;
    padding: 5px;
    
}


@import url(https://fonts.googleapis.com/css?family=Archivo+Black);

@media only screen and (max-device-width: 480px) {
  .box {
    margin: 20px;
  }
  .product-info {
    margin: 20px;
  }
}


.container {
  display: flex;
  justify-content: center;
  
  font-family: 'Open Sans', sans-serif;
}


.box {
  width: 700px;
  border-radius: 10px;
  
}

.product-img {
  float: left;
  margin-top: 20px;
  transition: all 0.5s linear;
    &:hover }
      
.product-img:hover {      
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.product-info {
  float: right;
  margin-top: 20px;
  margin-right: 40px;
}

h1 {
 
  font-weight: bold;
  font-size: 2.5em;
  color: #1aa6c9;
  font-family: 'Archivo Black', sans-serif;
text-decoration: none;
}

.price {
  margin-top: -40px;
  font-size: 35px;
  font-weight: bolder;
  color: #1aa6c9;
}

.description {
  margin-top: -20px;
  margin-right: 10px;
  font-weight: bold;
  color: #555;
}
.color {
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.quantity {
    margin-top: 25px;
    outline: none;
    border: 2px solid #999;
    padding: 5px;
    border-radius: 5px;
}
button {
 
  background-color: #fff;
  font-size: 1em;
  letter-spacing: .1em;
  text-decoration: none;
  color: red;
  padding: 15px 30px;
  border: 0;
  border-radius: 19px;
  transition: all 0.3s linear;
  margin-left: 100px;
    
    
    
    
    
   
}

button:hover {
    background: #666;
  }

body{
   font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #414141;
  background: #000; /* https://subtlepatterns.com/old-map/ */
  padding: 25px 0;
    
}











@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

html, body, div, span, applet, object, iframe,  h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,  article, aside, canvas, details, embed, figure, figcaption, footer, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
    text-decoration: none;
}



::selection { background: #bdc0e8; }
::-moz-selection { background: #bdc0e8; }
::-webkit-selection { background: #bdc0e8; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }


/* page structure */
#w {
  display: block;
  width: 800px;
  margin: 0 auto;
}

#title {
  display: block;
  width: 100%;
  background: #95a6d6;
  padding: 10px 0;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#page {
  display: block;
  background: #fff;
  padding: 15px 0;
  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.4);
}

/** cart table **/
#cart {
  display: block;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  color: #444;
}
#cart thead th {
  padding: 8px 0;
  font-weight: bold;
}

#cart thead th.first {
  width: 175px;
}
#cart thead th.second {
  width: 130px;
}
#cart thead th.third {
  width: 130px;
}
#cart thead th.fourth {
  width: 130px;
}
#cart thead th.fifth {
  width: 130px;
}

#cart thead th.six {
  width: 130px;
}


#cart tbody td {
  text-align: center;
  margin-top: 4px;
}

tr.productitm {
  height: 65px;
  line-height: 65px;
  border-bottom: 1px solid #d7dbe0;
}


#cart tbody td img.thumb {
  vertical-align: bottom;
  border: 1px solid #ddd;
  margin-bottom: 4px;
}

.qtyinput {
   
  width: 60px;
  height: 22px;
  border: 1px solid #a3b8d3;
  background: #dae4eb;
  color: #616161;
  text-align: center;
}

tr.totalprice, tr.extracosts {
  height: 35px;
  line-height: 35px;
}
tr.extracosts {
  background: #e4edf7;
}



.light {
  color: #887b8d;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.45);
  font-size: 1.1em;
  font-weight: normal;
}
.thick {
  color: #272727;
  font-size: 1.7em;
  font-weight: bold;
}


/** submit btn **/
tr.checkoutrow {
  background: #cfdae8;
  border-top: 1px solid #abc0db;
  border-bottom: 1px solid #abc0db;
}
td.checkout {
  padding: 12px 0;
  padding-top: 20px;
  width: 100%;
  text-align: right;
   
}


=


a.button {
  

    text-decoration: none;
    color: black;
    
    margin: 2em 0 0;
    margin-bottom: 20px;
    
    
     margin: 2em 0 0;
    align-content: center;
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    
    
    
    
}




span{
    color: black;
}

